*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Merriweather';
    font-style: normal; */
    /* font-weight: 300; */
}
.s-img:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
}
.s-img:hover:before{
    background-image: linear-gradient(#ffffff00, black);
}
.color-gray{
    color:#5e6e82;
}

.color-red{
    color: #ff806e;
}



.btn-yellow{
    color: #4d5969;
    background-color: #ffc554;
    border-color: #ffc554;
}
.s-text{
    content:"";
    position: absolute;
    z-index:1000;
    bottom:0;
    display: none;   
 
}
.s-image:hover .s-text{
    display: block;
}
.b-0{
  bottom:0px;
}
.r{
   
    padding-right: 20px;
    padding-left: 20px;
}
.rot{
    animation: rot 1s linear;
    position: relative;

}
.slick-next{
    right: 25px !important;
    height: 50px !important;
    width: 50px !important;
    background-color: transparent !important;
    border-radius: 50%;
}
.slick-next:before{
    content: "\ea54" !important;
    font-family: remixicon !important;
}

.moving:hover .slick-next{
    background-color: rgba(255, 166, 0, 0.568) !important;
}

.slick-next:hover{
    background-color: orange !important;
}
.slick-prev{
    left: 25px !important;
    height: 50px !important;
    width: 50px !important;
    background-color: #ffc6542d !important;
    border-radius: 50%;
    z-index: 1000 !important;
}
.slick-prev:before{
    content: "\ea54" !important;
    font-family: remixicon !important;
}

.moving:hover .slick-prev{
    background-color: rgba(255, 166, 0, 0.568) !important;
}

.slick-prev:hover{
    background-color: orange !important;
}

@keyframes rot {
    from{
        rotate: -90deg;
        left:-300px;
    }
    to{
        rotate: 0deg;
        left:0px;
    }
}
@media(min-width:992px){
.bg-2{
    background-image: url('../img/Vector.png');
    background-size: 95%;
    background-repeat: no-repeat;
    height:800px;
}
}
@media(min-width:1400px){
    .w-xxl{
        width: 300px!important;;
    }
}



